10/9/2022 ทำให้เปิดอ่านไฟล์ all data with description แล้วให้ข้อมูล index ด้วย id แปลงเอา Nan ออกแล้ว เติมข้อมูล 1.วันเก็บ 2.วันปลูก 3.วันที่ถ่ายภาพ
10/15/2022 หา ID ที่วันเก็บเกี่ยวก่อนวันถ่ายภาพที่ 2

In [1]:
import pandas as pd
import numpy as np

In [2]:
#df = pd.read_excel(r"C:\web\data\keras\corn_data\copy alldata.xlsx" ,index_col="ID_Number")
original_df = pd.read_excel(r"C:\web\data\corn\All Data with description.xlsx" ,sheet_name="All data",usecols="A,Z,AG,AJ")
original_df.tail(5)

    Unnamed: 0          Unnamed: 25          Unnamed: 32 Unnamed: 35
157      10156  2018-11-18 00:00:00  2019-03-04 00:00:00      1.9025
158      10157                  NaN                  NaN         NaN
159      10158  2018-12-11 00:00:00  2019-03-22 00:00:00      2.0755
160      10159  2018-11-21 00:00:00  2019-03-05 00:00:00    2.617582
161      10160                  NaN                  NaN         NaN

In [23]:
df_nona = original_df.dropna()
df = df_nona.drop(labels=0, axis=0)
df = df.rename(columns={'Unnamed: 0': 'ID_Number', 'Unnamed: 25': 'planting_date', 'Unnamed: 32': 'harvest_date', 'Unnamed: 35': 'yield/hec'})
df = df.set_index('ID_Number')
df['planting_date']= pd.to_datetime(df['planting_date'])
df['harvest_date']= pd.to_datetime(df['harvest_date'])
#df = df.astype({'planting_date': int, 'harvest_date': complex, 'yield/hec':})
df['total_planting_days'] = (df['harvest_date'] - df['planting_date']) / np.timedelta64(1, 'D')
df["image_date1"] =  pd.Timestamp('2019-01-06')
df["image_date2"] =  pd.Timestamp('2019-02-28')
df['total_days_image_1'] = (df['image_date1'] - df['planting_date']) / np.timedelta64(1, 'D')
df['total_days_image_2'] = (df['image_date2'] - df['planting_date']) / np.timedelta64(1, 'D')

df['dt_im2_har'] = (df['harvest_date'] - df['image_date2']) / np.timedelta64(1, 'D')
df

,planting_date,harvest_date,yield/hec,total_planting_days,image_date1,image_date2,total_days_image_1,total_days_image_2,dt_im2_har
ID_Number,,,,,,,,,
10002,2018-11-12,2019-02-18,1.810625,98.0,2019-01-06,2019-02-28,55.0,108.0,-10.0
10005,2018-11-28,2019-03-09,1.667143,101.0,2019-01-06,2019-02-28,39.0,92.0,9.0
10007,2018-11-18,2019-02-25,1.916875,99.0,2019-01-06,2019-02-28,49.0,102.0,-3.0
10008,2018-11-20,2019-03-03,0.946667,103.0,2019-01-06,2019-02-28,47.0,100.0,3.0
10010,2018-11-27,2019-03-10,1.328462,103.0,2019-01-06,2019-02-28,40.0,93.0,10.0
...,...,...,...,...,...,...,...,...,...
10154,2018-12-12,2019-03-22,2.5876,100.0,2019-01-06,2019-02-28,25.0,78.0,22.0
10155,2018-12-07,2019-03-16,1.615625,99.0,2019-01-06,2019-02-28,30.0,83.0,16.0
10156,2018-11-18,2019-03-04,1.9025,106.0,2019-01-06,2019-02-28,49.0,102.0,4.0
10158,2018-12-11,2019-03-22,2.0755,101.0,2019-01-06,2019-02-28,26.0,79.0,22.0
10159,2018-11-21,2019-03-05,2.617582,104.0,2019-01-06,2019-02-28,46.0,99.0,5.0

In [25]:
df[df["dt_im2_har"]<0].index # ID ที่ วันเก็บเกี่ยวมาก่อนถ่ายภาพที่ 2 ภาพควรจะดูไม่มี crop 
# อันที่ยังมี crop อยู่ 7 11 13 28 29 50 (มีส่วนหนึ่งเป็นเขียว) 86 151

Int64Index([10002, 10007, 10011, 10013, 10015, 10023, 10028, 10029, 10049,
            10050, 10054, 10061, 10073, 10086, 10088, 10089, 10150, 10151],
           dtype='int64', name='ID_Number')

In [4]:
ID_CROP = df.index
ID_CROP

Int64Index([10002, 10005, 10007, 10008, 10010, 10011, 10013, 10015, 10023,
            10027, 10028, 10029, 10030, 10033, 10037, 10038, 10040, 10046,
            10047, 10049, 10050, 10054, 10060, 10061, 10063, 10065, 10067,
            10073, 10074, 10081, 10083, 10084, 10085, 10086, 10088, 10089,
            10098, 10100, 10105, 10108, 10109, 10110, 10111, 10112, 10113,
            10116, 10119, 10120, 10121, 10124, 10125, 10126, 10127, 10130,
            10150, 10151, 10154, 10155, 10156, 10158, 10159],
           dtype='int64', name='ID_Number')

In [5]:
a = "2 5 7 8 10 15 23 29 33 38 40 46 47 49 60 61 63 67 73 81 98 105  108 109 110 112 121" #highight สีเขียวใน excel หมายถึงใช้งานได้
c = []
for i in a.split():
    c.append(int("1"+"0"*(4-len(i))+i))
print(c)

[10002, 10005, 10007, 10008, 10010, 10015, 10023, 10029, 10033, 10038, 10040, 10046, 10047, 10049, 10060, 10061, 10063, 10067, 10073, 10081, 10098, 10105, 10108, 10109, 10110, 10112, 10121]

In [6]:
cant_use = ID_CROP.difference(c)

In [7]:
dataf = df.drop(cant_use )
dataf

,planting_date,harvest_date,yield/hec,total_planting_days,image_date1,image_date2,total_days_image_1,total_days_image_2
ID_Number,,,,,,,,
10002,2018-11-12 00:00:00,2019-02-18 00:00:00,1.810625,98.0,2019-01-06,2019-02-28,55.0,108.0
10005,2018-11-28 00:00:00,2019-03-09 00:00:00,1.667143,101.0,2019-01-06,2019-02-28,39.0,92.0
10007,2018-11-18 00:00:00,2019-02-25 00:00:00,1.916875,99.0,2019-01-06,2019-02-28,49.0,102.0
10008,2018-11-20 00:00:00,2019-03-03 00:00:00,0.946667,103.0,2019-01-06,2019-02-28,47.0,100.0
10010,2018-11-27 00:00:00,2019-03-10 00:00:00,1.328462,103.0,2019-01-06,2019-02-28,40.0,93.0
10015,2018-11-13 00:00:00,2019-02-22 00:00:00,1.567,101.0,2019-01-06,2019-02-28,54.0,107.0
10023,2018-11-08 00:00:00,2019-02-16 00:00:00,2.7775,100.0,2019-01-06,2019-02-28,59.0,112.0
10029,2018-11-15 00:00:00,2019-02-24 00:00:00,1.35125,101.0,2019-01-06,2019-02-28,52.0,105.0
10033,2018-12-10 00:00:00,2019-03-20 00:00:00,2.134667,100.0,2019-01-06,2019-02-28,27.0,80.0
10038,2018-12-11 00:00:00,2019-03-21 00:00:00,2.263816,100.0,2019-01-06,2019-02-28,26.0,79.0
10040,2018-12-05 00:00:00,2019-03-18 00:00:00,1.905625,103.0,2019-01-06,2019-02-28,32.0,85.0
10046,2018-11-21 00:00:00,2019-03-06 00:00:00,2.465,105.0,2019-01-06,2019-02-28,46.0,99.0
10047,2018-11-25 00:00:00,2019-03-07 00:00:00,1.925625,102.0,2019-01-06,2019-02-28,42.0,95.0
10049,2018-11-14 00:00:00,2019-02-24 00:00:00,2.002,102.0,2019-01-06,2019-02-28,53.0,106.0
10060,2018-12-09 00:00:00,2019-03-19 00:00:00,2.246667,100.0,2019-01-06,2019-02-28,28.0,81.0
10061,2018-11-10 00:00:00,2019-02-20 00:00:00,1.919615,102.0,2019-01-06,2019-02-28,57.0,110.0
10063,2018-11-29 00:00:00,2019-03-12 00:00:00,1.189,103.0,2019-01-06,2019-02-28,38.0,91.0
10067,2018-11-28 00:00:00,2019-03-12 00:00:00,1.305,104.0,2019-01-06,2019-02-28,39.0,92.0
10073,2018-11-12 00:00:00,2019-02-21 00:00:00,1.0825,101.0,2019-01-06,2019-02-28,55.0,108.0
10081,2018-11-21 00:00:00,2019-03-04 00:00:00,1.9045,103.0,2019-01-06,2019-02-28,46.0,99.0
10098,2018-11-20 00:00:00,2019-03-04 00:00:00,0.785,104.0,2019-01-06,2019-02-28,47.0,100.0
10105,2018-11-26 00:00:00,2019-03-10 00:00:00,2.454348,104.0,2019-01-06,2019-02-28,41.0,94.0
10108,2018-12-02 00:00:00,2019-03-17 00:00:00,3.096154,105.0,2019-01-06,2019-02-28,35.0,88.0
10109,2018-11-25 00:00:00,2019-03-08 00:00:00,2.237736,103.0,2019-01-06,2019-02-28,42.0,95.0
10110,2018-11-26 00:00:00,2019-03-06 00:00:00,2.759,100.0,2019-01-06,2019-02-28,41.0,94.0
10112,2018-11-29 00:00:00,2019-03-15 00:00:00,3.0625,106.0,2019-01-06,2019-02-28,38.0,91.0
10121,2018-12-11 00:00:00,2019-03-22 00:00:00,1.986667,101.0,2019-01-06,2019-02-28,26.0,79.0